body {
	background: rgb(255, 255, 236);
}

.container {
	background: rgb(255, 255, 255);
	width: 800px;
	margin: 0 auto;
	border: 1px solid #d8d8d8;
	padding: 10px;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.content > aside {
	width: 20%;
}

.content > section {
	width: 79%;
}

/*
section li {
	background: rgb(101, 101, 101);
	color: rgb(255, 255, 255);
	padding: 5px;
	text-align: center;
}
*/